*, *::before, *::after {
  box-sizing: content-box;
}

abbr {
  margin: 3px;
  font-size: smaller;
}

.bibliography .title {
  font-size: 110%;
}

.publications h2.year {
  margin-bottom: 0;
}

.post-list li .post-meta {
  font-size: 1rem;
}

div.abstract {
  width: 140%;
  margin-left: -20%;
}

div.abstract.open {
  margin-top: 10px;
}

div.bibtex {
  width: 140%;
  margin-left: -20%;
}

div.bibtex.open {
  margin-top: 10px;
}

.links {
//  margin-left: 17%;
}

a {
  color: black !important;
}

.post-abstract {
  font-style: italic;
  color: grey;
}

.wrapper {
  box-sizing: border-box;
  max-width: 800px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.grid-item a:hover {
  text-decoration: none;
}
